{% extends 'app/base.html' %}
{% load static %}
{% block title %} House Detail{% endblock title %}
{% block main %}

        <!-- Page Header-->
       
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div><img src="{{house.image.url}}" class="img-fluid" alt="Responsive image"> </div>
                        <div><strong> Facility Provided</strong> 
                            <p>
                                {{ house.facility|linebreaksbr|capfirst }}
                            </p></div>

                    <div>   <strong> Price</strong> 
                       <p>
                           Rs.{{ house.price|linebreaksbr}}
                       </p>
                    </div>

                    <div>
                         <strong> Space</strong> 
                        <p>
                            {{ house.space|linebreaksbr}}
                        </p>
                     </div>
                     <div>   <strong> Location</strong> 
                        <p>
                            {{ house.location|linebreaksbr}}
                        </p>
                     </div>
                     <div>   <strong> Owned by</strong> 
                        <p>
                            {{ house.houseown.name|linebreaksbr}}
                        </p>
                     </div>
                     <div><a  href="#"><button type="button" class="btn btn-primary">Buy Now</button></a></div>
                     <br>
                     


                        <div class="container px-4 px-lg-5" >
                        {% if request.user == post.author %}
                        <a class = "btn-danger" href="{% url 'house-delete' house.id %}" >
                            <button type="submit" 
                            style="width:120px;height:50px;"  class="btn btn-danger mt-4" value="Delete">Delete</button></a>

                        </div>
                        {% endif  %}
                    </div>
                   
                    <hr>
                    <form action="" method="post" novalidate class="shadow p-5">
                     {% csrf_token %}
                     {% for fm in form%}
                     <div class="mb-3">
                         {{fm.label_tag}} {{fm}} <small class ="text-danger">{{fm.errors |striptags }}</small>
                      </div>
                     {% endfor %}
                     <input type="submit" class="btn btn-primary mt-4" value="Comment">
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                    </form>
                
                    <div class="container justify-content-center mt-5 border-left border-right">    
                  
                        {% for cm in comments %}
                        <div class="d-flex justify-content-center py-2">
                           
                            <div class="second py-2 px-2"> <span class="text1">{{cm.comment|linebreaksbr}}</span>
                                <div class="d-flex justify-content-between py-1 pt-2">
                                    <div><img src="{{cm..homeown.image.url}}" width="46"><span class="text2"><a href="{% url 'profile-detail' cm.author.id %}">{{cm.author.username}} </a>  </span>  <br> 
                                         <span class="text3">{{cm.date_posted}}</span>
                                        
                                
                                    {% if request.user == cm.houseown %}
                                    <a href="{% url 'comment-delete' cm.id %}" >
                                        <button type="submit" 
                                        style="width:120px;height:50px;" class="btn btn-danger">Remove</button></a>
                                    {% endif  %}
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </article>



        {% endblock main %}
