{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block main %}
{% if messages %}
{% for message in messages %}
<p id= "message_container" {% if message.tags %}class="alert alert-{{message.tags}}
mb-5" {% endif %}>{{message}}</p> 
{% endfor %}
{% endif %}
<!-- Begin Site Title
======================	============================ -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Atithi</h1>
		<p class="lead">
			Atithi - ease your accomodation.
		</p>
	</div>
<!-- End Site Title
================================================== -->



	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Featured</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">


		{% for ho in home %}
		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="{% url 'home-detail' ho.id %}">
						<div><img src="{{ho.image.url}}" ></div>
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="{% url 'home-detail' ho.id %}"></a></h2>
					<strong>	<h4 >{{ho.title | capfirst }}</h4></strong>
					<div> <strong><h6> Price : ₹{{ho.price}} / per day</h5></strong></div>
					<div> <strong><h6> Facility : {{ho.facility}}  </h6></strong></div>
					<div> <strong><h6> Location : {{ho.location | capfirst }}  </h6></strong></div>
					<div> <strong><h6> Space : {{ho.space}}  </h6></strong></div>	
		
					</div>
				</div>
			</div>
		</div>
		{% endfor %}


		<!-- end post -->
		{% if is_paginated %}
		{% include "app/_pagination.html" %}
	{% endif %}

	
	</div>
	</section>
{% endblock main %}