{% extends 'app/base.html' %}
{% load static %}
{% block title %}Paasword Change{% endblock title %}
{% block main %}
   <div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Password Reset Email</h3>
   <p>An Email is been send to you please kindly vist to change Password<b>Please cheak  your email</b></p>
   <hr>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7liQ76uRnnaUfsltQxCUOWO2vzfiNwXzVlQ&usqp=CAU"
alt="" class="img-fluid img-thumbnail">

   </div>
   </div>
   </div>


{% endblock main %}